.divider {
    padding: 20px 0px !important;
    background: linear-gradient(to right, white, #F3f1fc, white);
}

.restoran{
    color : #B19A88;
    letter-spacing: .07rem !important;
    padding: 0.13rem;
    font-weight: 600 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
