@import "../node_modules/bootstrap/scss/bootstrap";
@import "./styles/includes";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  // background-color: map-get($grayscale, "Light-2");
}

.inactive {
  padding: map-get($spacing, "2") !important;
  display: flex !important;
  text-decoration: none !important;
  color: $defaultTextColor !important;
  justify-self: start !important;
}

// .active {
//   background-color: $primaryColor !important;
//   color: $white !important;
//   display: flex !important;
//   border-radius: map-get($rounded, "3") !important;
//   padding: map-get($spacing, "2") !important;
//   text-decoration: none !important;
// }

.active .MuiListItemIcon-root {
  color: $white;
}
